wallets:
  - name: "hardhat1"
    address: "0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266"
    privateKey: "0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80"
    type: "privateKey"

chainRpcs:
  - chainId: 11155111
    rpcUrl: "YOUR-SEPOLIA-RPC-URL"

dbFilePath : /data/db.sqlite3
bookNodeSocketUrl: ws://stage.portalgate.me:20002
bookNodeApiUrl: https://stage.portalgate.me:20001
bookNodeApiKey: "CONTACT-US-FOR-API-KEY"

#optional
#userSwapRelayerAddress: 
#userSwapRelayerPrivateKey: 