wallets:
  - name: "YOUR WALLET1"
    address: "0x0"
    privateKey: "0x0"
    type: "privateKey"

chainRpcs:
  - chainId: 8453
    rpcUrl: "YOUR-BASE-RPC-URL"

dbFilePath : /data/db.sqlite3
bookNodeSocketUrl: wss://ws.bn.darkswap.me
bookNodeApiUrl: https://bn.darkswap.me
bookNodeApiKey: "CONTACT-US-FOR-API-KEY"

#optional
#userSwapRelayerAddress: 
#userSwapRelayerPrivateKey: 