version: '3'
services:
  app:
    container_name: darkswap-pro
    image: singularitynetwork/darkswap-pro:1.0.2
    ports:
      - "3002:3002"
    volumes:
      - ./data:/data
      - ./config:/config
    environment:
      - NODE_ENV=prodution        

